
/* RESET NAVEGADOR */

*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

/* HEADER */
header{
    top: 5px;
    position: fixed;
    padding: 10px 10px;
    text-align: center;
    background: #2e8b57;
    width: 100%;
}


.menu li{
    display: inline-block;
    margin: 0px 15px;
}

.menu a{
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color: #FFFAFA;
}

#selecionado{
	color:black;
}


.menu a:hover{
    color: #CDC9C9 ;
}



/*  BOTAO PESQUISA */
.Pesquisa{
    background-color:#FFFAFA;
    border: none;
    border-radius:8px;
    width:370px;
    height:25px;
}
    
.srcPesquisa{
    float: center;
    background-color:transparent;
    padding-left:5px;
    font-size:15px;
    border: none;
    height:25px;
    width:300px;
}

.btnPesquisa{
    border:none;
    float: right;
    height:25px;
    border-radius:7px;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
}



/* BODY */
body{
    background-image: url(../image/bg2.jpg);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}
/*-------------------------------------------Não mexer acima-----------------------------------------------*/



.contatos{
    height: 90%;
}

form{
	position: absolute;
	left: 30%;
	top:  10%;
	text-align: center;
	font-size: 15px;
	background: #fffafa9f;
	max-width: 40%;
	padding: 10px;
	border-radius: 6%;	
}

form a{
	text-align: center;
}



form ::placeholder{
	text-align: left;
}

h1{
	color: black;
	
}	

input, textarea{
	width: 470px;
	padding: 10px;
}

.enviar input{
	background:  #2e8b56;
	height: 40px;
	width: 150px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid;
	color: #000000;
	cursor: pointer;
}

.enviar input:hover{
    color:  #2e8b56;;
	background: whitesmoke;
}

textarea{
		width: 470px;
		height: 120px;
		line-height:20px;
}








/* ------------------- NAO MEXER ABAIXO -----------------------*/
/* RODAPÉ SITE */
#rodape{
    margin-top: 40px;
    padding-top:32px;
}

.rodape{
    margin-top: 20px;
    text-align: center;
}

.rodape .direitosreservados{
    margin-bottom: 8px;
    text-align: center;
    color: #777777;
}

.rodape ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 18px;
}

.rodape a{
    color: #282b2d;
    font-size: 18px;
    font-weight: bolder;
}

.rodape li{
    display: inline-block;
    margin: 0px 15px;
}

.rodape .redesocial{
    text-align: center;
    background-color: #2e8b57;
}

.rodape img{
    padding: 8px 10px ;
    text-align: center;
    height:40px;
}







